:root {
    --font-color: rgb(228, 172, 69);
    --font-color2: rgb(128, 128, 128);
    --big-font: 5rem;
    --small-font: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; 
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    overflow-x: hidden;
}

@mixin flex($justify-content, $align-item, $direction) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-item;
    direction: $direction;
}
 

html {
    font-size: 62.5%;
    font-family: 'Montserrat',sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

header {
    background-color: rgb(0, 0, 0);


    nav {
        min-height: 10vh;
        width: 90%;
        margin: auto;
        @include flex(none, center, row);
        flex-wrap: wrap;
        padding-top: 2rem;
        flex-wrap: wrap;
        

        .logo {
            flex: 1 1 40rem;
        }
        .logo img {
            height: 9rem;
            cursor: pointer;
            transition: all 0.2s ease;
        }

        .navbar {
            flex: 1 1 40rem;
            @include flex(space-around, center, row);
            font-size: 2.2rem;
            cursor: pointer;
        }
        .navbar a {
            color: white;
            transition: all 0.2s ease;
            padding: 0rem 1rem;
        }
       
    }
}
.navbar a:hover {
    border-bottom: 0.2rem var(--font-color) solid;
    padding-bottom: 0.2rem;
}
 .hero-container {
     min-height: 90vh;
     background: linear-gradient(rgba(0, 0, 0, 0.8), transparent),url("./assests/bg3.jpg");
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     position: relative;

     .content {
         color: white;
         direction: flex-start;
         position: absolute;
         top: 30%;
         left: 5%;

         h1 {
             font-size: var(--big-font);
             span {
                 color: rgb(228, 172, 69);
             }
         }
         p {
             padding-top: 3rem;
             font-size: var(--small-font);
             color: var(--font-color2);
         }
         .btn {
            width: 23%;
            border: 0.1rem rgb(228, 172, 69) solid;
            text-align: center;
            padding: 1.5rem 0rem;
            margin-top: 3rem;
            cursor: pointer;
            color: rgb(228, 172, 69);
            font-size: 2rem; 
            }
        .btn:hover {
            background-color: rgb(228, 172, 69);
            border: 0.1rem black solid;
            color: black;
        }

         
     }
 }


 //////HERO CONTAINER - 2 //////////

.hero-container2 {
    background-color: #0f0f0f;


    .heading {
    width: 90%;
    margin: auto;
    
     .under {      
         color:  white;
         font-size: var(--big-font);
         position: relative;
         text-align: center;
         margin-top: 9rem;
         padding-bottom: 1.2rem;
     }

     p {    
         font-size: var(--small-font);
         line-height: 3.5rem;
         margin-top: 5rem;
         color: var(--font-color2);
         text-align: center;
     }

    }
  .sliders {
      width: 80%;
      margin: auto;
      min-height: 80vh;
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      position: relative;
      overflow: hidden;
   
      
      .img-holder {
        text-align: center;
        flex: 1 1 25rem;
        min-height: 30vh;
        margin: 2rem 1.5rem;


       img {
          width: 100%;
          margin: 2rem;
          -webkit-box-shadow: 0 10px 10px -10px #5c5c5c;
          -moz-box-shadow: 0 10px 10px -10px #5c5c5c;
          box-shadow: 0 10px 10px -10px #5c5c5c;
       }
      }

  }

}
.under::after {
    content: '';
    height: 0.3rem;
    width: 14%;
    border-radius: 2rem;
    background-color: var(--font-color);
    position: absolute;
    bottom: 0;
    left: calc(50% - 7%);
}
.left_arrow {
    color: rgb(228, 172, 69);
    font-size: 4rem;
    position: absolute;
    top: 50%;
    left: 1.2rem;
    
    text-align: center;
    z-index: 10;
    cursor: pointer;
    transition: all 0.2s ease;
}
.left_arrow:hover {
   color: rgb(224, 146, 0);
}
.right_arrow {
   color: rgb(228, 172, 69);
   position: absolute;
   font-size: 4rem;
   top: 50%;
   right: 0px;
   text-align: center;
   cursor: pointer;
}
.right_arrow:hover {
    color: rgb(224, 146, 0);
 }

 .slick-dots {
     position: absolute;
     bottom: 7%;
     left: 50%;
     transform: translateX(-50%);

     li {
         display: inline-block;
         margin: 0 1rem;

         button {
          font-size: 0;
          height: 1.2rem;
          width: 1.2rem;
          background-color: white;
          border: none;
          border-radius: 100%;
          cursor: pointer;
         }
     }

     .slick-active button  {
         background-color: rgb(228, 172, 69);
         height: 1.7rem;
         width: 1.7rem;
     }
 }


 ////////DEPARTMENT SECTION //////////

.departments {
    background-color: #0f0f0f;
    min-height: 100vh;
    
 .underline {
        font-size: var(--big-font);
        color: white;
        text-align: center;
        position: relative;
        padding: 5rem 0 1.2rem 0;
        transition: all 0.2s ease;
  } 
  .cards {
    width: 90%;
    margin: auto;
    display: flex;
    min-height: 70vh;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 4rem;

    .card {
    text-align: center;
    flex: 1 1 25rem;
    min-height: 50vh;
    margin: 2rem 5rem;
    background-color: #0f0f0f;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 1px 1px 8px 0.5px rgb(228, 172, 69);

    h1 {
        margin-top: 2rem;
        padding: 1rem 1.2rem;
        font-size: 2.2rem;
        color: var(--font-color2); 
        font-family:  "Poppins", sans-serif;
        color: #ffffff;
        font-weight: 300;
    }
    p {
        padding: 2rem 1rem 1rem 1rem;
        font-size: 1.7rem;
        line-height: 1.8;
        font-family:  "Poppins", sans-serif;
        color: #ffffff;
    }
   
    img {
        max-width: 20%;
        margin: 2rem;
        
      }
    }
  }
}
.card:hover {
    scale: 1.1;
}

 .underline::after {
     content: '';
     height: 0.3rem;
     width: 14%;
     border-radius: 2rem;
     background-color: var(--font-color);
     position: absolute;
     bottom: 0;
     left: calc(50% - 7%);
 }

 ///////CONTACT SECTION ////////

.contact-section {
  min-height: 80vh;
  background-color: #0f0f0f;
  
  

  .cont {
      width: 90%;
      margin: auto;
      @include flex(center, center, row);
  }

  .form-head {
      flex: 1 1 40rem;
      
      

      :nth-child(1) {
          font-size: 2.5rem;
          color: white;
          padding-bottom: 2rem;
          
      }

      h1 {
          font-size: 6rem;
          color: var(--font-color);
          padding-bottom: 1.5rem;
      }

      :nth-child(3) {
          font-size: 1.7rem;
          color: var(--font-color2);
          width: 80%;
          line-height: 2.8rem;
          font-family: 'Poppins', sans-serif;
      }
      :nth-child(6) {
        font-size: 1.7rem;
        color: var(--font-color2);
        width: 80%;
        line-height: 2.8rem;
    }

   }
      .form-wrapper {
          flex: 1 1 40rem;
          margin-top: 5rem;
         
      
          
      form {
          width: 90%;
      }
          .name-form,.email-form,.msg-form, {
              padding: 1rem;
              text-align: center;
          }
 
        input {
            padding: 2rem 1rem;
            border-radius: 2px;
            width: 100%;
            background-color: #0f0f0f;
            color: var(--font-color2);
            border: 1px rgb(128, 128, 128) solid;
            font-size: 1.8rem;
        }
        textarea {
            width: 100%;
            height: 15rem;
            padding: 1rem 1rem;
            border: 1px rgb(128, 128, 128) solid;
            background-color: #0f0f0f;
            color: var(--font-color2);
            font-size: 2rem;
        }          

          .form-btn {
            text-align: center;
            width: 97%;
            border: 0.1rem rgb(228, 172, 69) solid;
            text-align: center;
            padding: 1.5rem 0rem;
            cursor: pointer;
            font-size: 2rem;
            background-color: #0f0f0f;
            color: rgb(228, 172, 69);
            margin-left: 1rem;
          }

          .link {
             margin-left: 1rem;

            i {
                text-decoration: none;
                padding: 2rem 0.5rem;
                color: white;
                font-size: 2.5rem;
            }
          }

      }
    
    
      .form-btn:hover {
        background-color: rgb(228, 172, 69);
        border: 0.1rem black solid;
        color: black;
        }
}
  

///////FOOTER//////

footer {
    min-height: 50vh;
    background-color:rgb(22, 22, 22);
    position: relative;
    
    
   .foot-container {
       @include flex(center, center, row);
       flex-wrap: wrap;
       width: 80%;
       margin: auto;
       font-family: 'Poppins', sans-serif;
       

       .company-name {
           width: 50%;
       }
         .services, .about {
             width: 25%;
         }
       .com {
        margin-top: 5rem;
        h1 {
            color: rgb(219, 219, 219);
            font-weight: 500;
        }
        .h2 {
            padding-top: 2rem;
         }
        h2 {
          color: rgb(131, 131, 131);
          font-weight: 200;
          line-height: 2.5rem;
          line-height: 2.8rem;
          cursor: pointer;
        }
        h2:hover {
          text-decoration: underline;
        }
     }
       
   }
  
   .footer-media {
     text-align: center;  
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     bottom: 25%;

     i {
        font-size: 2.2rem;
        color: var(--font-color2);
        border: 1px rgb(128, 128, 128) solid;
        border-radius: 2rem;
        padding: 0.8rem;
        margin: 0rem 0.5rem;
     }
     h1 {
        color: var(--font-color2);
        font-size: 1.2rem;
        padding-top: 1rem;
        font-weight: 300;
        letter-spacing: 1px;
     }
     
     i:hover {
         background-color: rgb(128, 128, 128);
         color: white;
     }
   }
}




