:root {
  --font-color: rgb(228, 172, 69);
  --font-color2: rgb(128, 128, 128);
  --big-font: 5rem;
  --small-font: 2rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s ease;
  -moz-transition: .2s ease;
  -webkit-transition: .2s ease;
  -ms-transition: .2s ease;
  -o-transition: .2s ease;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  font-family: 'Montserrat',sans-serif;
  scroll-behavior: smooth;
}

body {
  background: black;
}

a {
  text-decoration: none;
}

header {
  background-color: black;
}

header nav {
  min-height: 10vh;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 2rem;
}

header nav .logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

header nav .logo img {
  max-height: 9rem;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

header nav .navbar {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  direction: row;
  font-size: 1.6vw;
  cursor: pointer;
}

header nav .navbar a {
  color: white;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  padding: 0rem 1rem;
}

.navbar a:hover {
  border-bottom: 0.2rem var(--font-color) solid;
  padding-bottom: 0.2rem;
}

.menu-btn {
  color: white;
  padding: 0rem 1rem;
  font-size: 2.6rem;
  display: none;
}

.hero-container {
  min-height: 90vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(transparent)), url("./assests/bg3.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.8), transparent), url("./assests/bg3.jpg");
  background-position: center;
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.hero-container .content {
  color: white;
  direction: flex-start;
  position: absolute;
  top: 30%;
  left: 5%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  -webkit-transform: translateY(-7rem);
          transform: translateY(-7rem);
}

.hero-container .content .c-h1 {
  font-size: var(--big-font);
}

.hero-container .content .c-h1 span {
  color: #e4ac45;
}

.hero-container .content p {
  padding-top: 3rem;
  font-size: var(--small-font);
  color: var(--font-color2);
}

.hero-container .content .btn {
  width: 23%;
  border: 0.1rem #e4ac45 solid;
  text-align: center;
  padding: 1.5rem 0rem;
  margin-top: 3rem;
  cursor: pointer;
  color: #e4ac45;
  font-size: 2rem;
}

.hero-container .content .btn:hover {
  background-color: #e4ac45;
  border: 0.1rem black solid;
  color: black;
}

body.hide {
  overflow: hidden;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 1;
  opacity: 1;
  -webkit-clip-path: circle(25px at 100% -10%);
          clip-path: circle(25px at 100% -10%);
}

.nav-links {
  font-size: 2rem;
  -ms-flex-preferred-size: 30rem;
      flex-basis: 30rem;
  text-align: center;
  margin-top: 13rem;
}

.nav-links a {
  text-decoration: none;
  color: black;
}

.nav-links h3 {
  padding: 3rem 0rem;
  font-weight: normal;
  cursor: pointer;
}

.logo {
  z-index: 2;
}

.hero-container2 {
  background-color: #0f0f0f;
}

.hero-container2 .heading {
  width: 90%;
  margin: auto;
}

.hero-container2 .heading .under {
  color: white;
  font-size: var(--big-font);
  position: relative;
  text-align: center;
  margin-top: 9rem;
  padding-bottom: 1.2rem;
}

.hero-container2 .heading p {
  font-size: var(--small-font);
  line-height: 3.5rem;
  margin-top: 5rem;
  color: var(--font-color2);
  text-align: center;
}

.hero-container2 .sliders {
  width: 80%;
  margin: auto;
  min-height: 80vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  overflow: hidden;
}

.hero-container2 .sliders .img-holder {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25rem;
          flex: 1 1 25rem;
  min-height: 30vh;
  margin: 2rem 1.5rem;
  overflow: hidden;
}

.hero-container2 .sliders .img-holder img {
  max-width: 100%;
  margin: 2rem;
  -webkit-box-shadow: 0 10px 10px -10px #5c5c5c;
  box-shadow: 0 10px 10px -10px #5c5c5c;
}

.under::after {
  content: '';
  height: 0.3rem;
  width: 14%;
  border-radius: 2rem;
  background-color: var(--font-color);
  position: absolute;
  bottom: 0;
  left: calc(50% - 7%);
}

.left_arrow {
  color: #e4ac45;
  font-size: 4rem;
  position: absolute;
  top: 50%;
  left: 1.2rem;
  text-align: center;
  z-index: 10;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.left_arrow:hover {
  color: #e09200;
}

.right_arrow {
  color: #e4ac45;
  position: absolute;
  font-size: 4rem;
  top: 50%;
  right: 0px;
  text-align: center;
  cursor: pointer;
}

.right_arrow:hover {
  color: #e09200;
}

.slick-dots {
  position: absolute;
  bottom: 7%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slick-dots li {
  display: inline-block;
  margin: 0 1rem;
}

.slick-dots li button {
  font-size: 0;
  height: 1.2rem;
  width: 1.2rem;
  background-color: white;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

.slick-dots .slick-active button {
  background-color: #e4ac45;
  height: 1.7rem;
  width: 1.7rem;
}

.departments {
  background-color: #0f0f0f;
  min-height: 100vh;
}

.departments .underline {
  font-size: var(--big-font);
  color: white;
  text-align: center;
  position: relative;
  padding: 5rem 0 1.2rem 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.departments .cards {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 70vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 4rem;
}

.departments .cards .card {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25rem;
          flex: 1 1 25rem;
  min-height: 50vh;
  margin: 2rem 5rem;
  background-color: #0f0f0f;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-box-shadow: 1px 1px 8px 0.5px #e4ac45;
          box-shadow: 1px 1px 8px 0.5px #e4ac45;
}

.departments .cards .card h1 {
  margin-top: 2rem;
  padding: 1rem 1.2rem;
  font-size: 2.2rem;
  color: var(--font-color2);
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-weight: 300;
}

.departments .cards .card p {
  padding: 2rem 1rem 1rem 1rem;
  font-size: 1.7rem;
  line-height: 1.8;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}

.departments .cards .card img {
  max-width: 20%;
  margin: 2rem;
}

.card:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.underline::after {
  content: '';
  height: 0.3rem;
  width: 14%;
  border-radius: 2rem;
  background-color: var(--font-color);
  position: absolute;
  bottom: 0;
  left: calc(50% - 7%);
}

.contact-section {
  min-height: 90vh;
  background-color: #0f0f0f;
}

.contact-section .cont {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  direction: row;
}

.contact-section .form-head {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.contact-section .form-head :nth-child(1) {
  font-size: 2.5rem;
  color: white;
  padding-bottom: 2rem;
}

.contact-section .form-head h1 {
  font-size: 6rem;
  color: var(--font-color);
  padding-bottom: 1.5rem;
}

.contact-section .form-head :nth-child(3) {
  font-size: 1.7rem;
  color: var(--font-color2);
  width: 80%;
  line-height: 2.8rem;
  font-family: 'Poppins', sans-serif;
}

.contact-section .form-head :nth-child(6) {
  font-size: 1.7rem;
  color: var(--font-color2);
  width: 80%;
  line-height: 2.8rem;
}

.contact-section .form-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  margin-top: 3rem;
}

.contact-section .form-wrapper form {
  width: 90%;
  margin: auto;
}

.contact-section .form-wrapper .name-form, .contact-section .form-wrapper .email-form, .contact-section .form-wrapper .msg-form {
  padding: 1rem;
  text-align: center;
}

.contact-section .form-wrapper input {
  padding: 2rem 1rem;
  border-radius: 2px;
  width: 100%;
  background-color: #0f0f0f;
  color: var(--font-color2);
  border: 1px gray solid;
  font-size: 1.8rem;
}

.contact-section .form-wrapper textarea {
  width: 100%;
  height: 15rem;
  padding: 1rem 1rem;
  border: 1px gray solid;
  background-color: #0f0f0f;
  color: var(--font-color2);
  font-size: 2rem;
}

.contact-section .form-wrapper .form-btn {
  text-align: center;
  width: 97%;
  border: 0.1rem #e4ac45 solid;
  padding: 1.5rem 0rem;
  cursor: pointer;
  font-size: 2rem;
  background-color: #0f0f0f;
  color: #e4ac45;
  margin-left: 1rem;
}

.contact-section .form-wrapper .link {
  margin-left: 1rem;
}

.contact-section .form-wrapper .link i {
  text-decoration: none;
  padding: 2rem 0.5rem;
  color: white;
  font-size: 2.5rem;
}

.contact-section .form-btn:hover {
  background-color: #e4ac45;
  border: 0.1rem black solid;
  color: black;
}

footer {
  min-height: 50vh;
  background-color: #161616;
  position: relative;
}

footer .foot-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  margin: auto;
  font-family: 'Poppins', sans-serif;
}

footer .foot-container .company-name {
  -webkit-box-flex: 5;
      -ms-flex: 5 1 20rem;
          flex: 5 1 20rem;
}

footer .foot-container .services, footer .foot-container .about {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
}

footer .foot-container .com {
  margin-top: 5rem;
}

footer .foot-container .com h1 {
  color: #dbdbdb;
  font-weight: 500;
}

footer .foot-container .com .h2 {
  padding-top: 2rem;
}

footer .foot-container .com h2 {
  color: #838383;
  font-weight: 200;
  cursor: pointer;
  line-height: 3rem;
  font-weight: 400;
}

footer .footer-media {
  text-align: center;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 20%;
}

footer .footer-media i {
  font-size: 2.2rem;
  color: var(--font-color2);
  border: 1px gray solid;
  border-radius: 2rem;
  padding: 0.8rem;
  margin: 0rem 0.5rem;
}

footer .footer-media h1 {
  color: var(--font-color2);
  font-size: 1.2rem;
  padding-top: 1rem;
  font-weight: 300;
  letter-spacing: 1px;
}

footer .footer-media i:hover {
  background-color: gray;
  color: white;
}

.faculty-container {
  min-height: 90vh;
  position: relative;
}

.faculty-container .f-content {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  direction: row;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.faculty-container .f-img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25rem;
          flex: 1 1 25rem;
  max-width: 40rem;
  margin-top: 2rem;
}

.faculty-container .f-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2rem;
}

.faculty-container .f-img h1 {
  text-align: center;
  font-weight: 400;
  color: #8b8b8b;
}

.faculty-container .f-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25rem;
          flex: 1 1 25rem;
  text-align: center;
}

.faculty-container .f-text .f-under {
  color: var(--font-color);
  font-size: var(--big-font);
  position: relative;
  padding-bottom: 1rem;
}

.faculty-container .f-text p {
  color: #8b8b8b;
  font-size: var(--small-font);
  line-height: 3rem;
  font-weight: 500;
  padding: 5rem;
}

.f-under::after {
  content: '';
  height: 0.3rem;
  width: 14%;
  border-radius: 2rem;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: calc(50% - 7%);
}

.intro-teams {
  min-height: 70vh;
  background-color: #0f0f0f;
  position: relative;
}

.intro-teams .intro-container {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  direction: row;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.intro-teams .intro-container h1 {
  font-size: var(--big-font);
  color: white;
}

.intro-teams .intro-container h1 span {
  color: var(--font-color);
}

.intro-teams .intro-container .team-btn {
  color: black;
  border: 0.1rem #e4ac45 solid;
  padding: 1.5rem 5rem 1.5rem 2rem;
  cursor: pointer;
  font-size: 2rem;
  background-color: #0f0f0f;
  color: #e4ac45;
  margin-top: 2rem;
  position: relative;
  border-radius: 1.5rem;
}

.intro-teams .intro-container .team-btn i {
  position: absolute;
  top: 1.8rem;
  right: 10%;
}

.intro-teams .intro-container .team-btn:hover {
  background-color: #e4ac45;
  color: black;
}

.intro-teams .intro-container p {
  font-size: var(--small-font);
  color: #8b8b8b;
  line-height: 3rem;
}

.intro-teams .intro-container .i-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25rem;
          flex: 1 1 25rem;
}

.intro-teams .intro-container .i-p {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25rem;
          flex: 1 1 25rem;
}

.teams {
  min-height: 100vh;
  background-color: #0f0f0f;
}

.teams .t-h1 {
  font-size: var(--big-font);
  color: var(--font-color);
  text-align: center;
  position: relative;
  padding: 1rem 0rem;
}

.teams .grid-container {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 5rem;
}

.teams .grid-items {
  max-width: 30rem;
  border-radius: 2rem;
  margin: 2rem 1rem;
}

.teams .grid-items img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.t-h1::after {
  content: '';
  height: 0.3rem;
  width: 14%;
  border-radius: 2rem;
  background-color: #fbfbfb;
  position: absolute;
  bottom: 0;
  left: calc(50% - 7%);
}

.swipe {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.swipe1 {
  background: #a76ee7;
  z-index: 5;
}

.swipe2 {
  background: #567ce4;
  z-index: 4;
}

.swipe3 {
  background: #ff8b5d;
  z-index: 3;
}

@media screen and (max-width: 890px) {
  html {
    font-size: 55% !important;
  }
  .content h1 {
    font-size: 4rem !important;
  }
  .content .btn {
    padding: 0.5 0.5rem !important;
  }
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .logo img {
    max-height: 7rem !important;
  }
  .menu {
    position: absolute;
    top: 5%;
    right: 5%;
  }
  .menu-btn {
    display: inline-block;
  }
  .navbar a {
    display: none;
  }
  .cont {
    display: block !important;
    text-align: center;
  }
  .cont .form-head {
    margin-top: 2rem;
  }
  .cont .form-head :nth-child(1) {
    font-size: 2rem;
  }
  .cont .form-head h1 {
    font-size: 5rem;
  }
  .cont .form-head :nth-child(3) {
    font-size: 1.7rem;
    width: 100%;
  }
  .cont .form-head :nth-child(6) {
    font-size: 1.7rem;
    width: 100%;
  }
  .cont .form-btn {
    width: 92% !important;
    margin: 0 !important;
  }
  .foot-container h1 {
    padding: 0 !important;
  }
  .foot-container .h2 {
    padding: 0 !important;
  }
  .footer-media {
    display: none;
  }
  .i-p {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 375px) {
  .form-head :nth-child(1) {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */